# Fedora Result Submit Method
# The default behavior is to run the tests without submitting them.
# Other options are 'anonymous',  where the results are submitted
# without FAS authentication, or 'authenticated' which will use FAS
# authentication to upload your results and give you credit towards
# Fedora Badges :)

submit=none
# submit=anonymous
# submit=authenticated

# Check duplication tests
#disable_retest=y

# Check Signature for Secure Boot
#checksig=y
#validsig="Fedora Secure Boot Signer"

# Test 3rd Party Modules
#thirdparty=y

# FAS User credentials.
# Storing your FAS password here is technically possible, but is not
# advisable for security reasons.

#username=''
#password=''

# **************** Nothing to edit below here ****************

case $submit in
anonymous)
	commit=y
	commithook="curl -H 'Expect:' -F "user=anonymous" -F "test_result=@$logfile\;type=text/x-log" https://apps.fedoraproject.org/kerneltest/upload/anonymous"
	;;
authenticated)
	commit=y
	if [ -n "$username" ]; then
	        username="-u $username"
	fi
	if [ -n "$password" ]; then
	        password="-p $password"
	fi
	commithook="./fedora_submit.py $username $password -l $logfile"
	;;
*)
	commithook=/usr/bin/true
esac

